Projects/tanisha_alyssa/IOT/flows-website.json
[{"id":"ecade297.fd45c","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"40e4156c.226a4c","type":"grove digital sensor","z":"ecade297.fd45c","name":"Ultrasonic","board":"5a559af.9d94564","sensor":"ultrasonic","repeat":"1","pin":"7","x":126.0000228881836,"y":326.00000953674316,"wires":[["94c42230.9328c"]]},{"id":"94c42230.9328c","type":"function","z":"ecade297.fd45c","name":"Form Command","func":"// get value from memory\nvar distance = msg.payload;\nvar rssi = global.get(\"rssi\");\n\n// if (rssi > -20){\n    if (distance > 20){ // away from ultrasonic sensor\n        msg.payload = 0 // Door closed at home\n        global.set(\"range\", 0)\n    } else { // \n        msg.payload = 1; // Door opened but at home, trigger first alert\n        global.set(\"range\", 1)\n    }\n// }\n\n// else (rssi <20){\n//     msg.payload = 1; // Door opened but at home, trigger first alert\n//         global.set(\"range\", 1)\n// }\n\nreturn msg;\n","outputs":1,"noerr":0,"x":343.0000457763672,"y":329.6667060852051,"wires":[["ce8d8545.4dc7b8"]]},{"id":"ce8d8545.4dc7b8","type":"grove digital output","z":"ecade297.fd45c","name":"LED","board":"5a559af.9d94564","pin":"4","x":574.8333892822266,"y":326.00000953674316,"wires":[]},{"id":"9e1b97c.76fbe68","type":"function","z":"ecade297.fd45c","name":"Form Data ","func":"var range = global.get(\"range\");\nvar rssi = global.get(\"rssi\");\nvar url = global.get(\"url\");\n\n\nmsg.payload = {\n    range_info:range,\n    rssi_info: rssi,\n    url_info: url\n};\nreturn msg;\n","outputs":1,"noerr":0,"x":354.00002670288086,"y":460.66681003570557,"wires":[["104d4649.c72d7a"]]},{"id":"104d4649.c72d7a","type":"http response","z":"ecade297.fd45c","name":"","statusCode":"","headers":{},"x":520.0000419616699,"y":418.00000697374344,"wires":[]},{"id":"d27d0853.7dbd88","type":"BeaconScanner","z":"ecade297.fd45c","name":"","gracePeriod":0,"x":146.83334350585938,"y":203.0000057220459,"wires":[["f352c624.8a7b18"]]},{"id":"76c3eef0.deed9","type":"debug","z":"ecade297.fd45c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":524.8333435058594,"y":215.00002670288086,"wires":[]},{"id":"f352c624.8a7b18","type":"function","z":"ecade297.fd45c","name":"Filter BT","func":"var id = msg.payload.id\n\nif (id == \"c74621f58d43\"){\n    var rssi = msg.payload.rssi;\n    global.set(\"rssi\", rssi);\n    global.set(\"url\",msg.payload.eddystoneUrl.url);\n    msg.payload = rssi;\n    return msg\n}\n","outputs":1,"noerr":0,"x":324.8333435058594,"y":203.3333396911621,"wires":[["76c3eef0.deed9"]]},{"id":"79c10320.e305ac","type":"http in","z":"ecade297.fd45c","name":"Get data","url":"/test","method":"get","upload":false,"swaggerDoc":"","x":116,"y":396.3333435058594,"wires":[["9e1b97c.76fbe68"]]},{"id":"5a559af.9d94564","type":"board-config","z":"","board":"GrovePi"}]