Projects/prisinthiya_cheryl/Microbit + NodeRed/flows.json
[{"id":"a4067dfb.86ba4","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"b9bcf2a3.22fc5","type":"tab","label":"Flow 2","disabled":true,"info":""},{"id":"b4559090.980ba","type":"tab","label":"Flow 3","disabled":true,"info":""},{"id":"e0738454.386f48","type":"tab","label":"Heart_Rate_Checker","disabled":true,"info":""},{"id":"8213f29.cd5731","type":"tab","label":"Heart_Rate_Blinker","disabled":true,"info":""},{"id":"51a8188e.1353c8","type":"tab","label":"IoT Practice","disabled":true,"info":""},{"id":"8ed05d66.44fd","type":"tab","label":"Flow 5","disabled":true,"info":""},{"id":"35297477.f012fc","type":"tab","label":"Flow 6","disabled":true,"info":""},{"id":"568f7afb.bf43c4","type":"tab","label":"Flow 7","disabled":true,"info":""},{"id":"1011d357.72df6d","type":"tab","label":"Flow 8","disabled":true,"info":""},{"id":"655ec119.91dbf","type":"tab","label":"Flow 9","disabled":true,"info":""},{"id":"e47e3da7.55ae2","type":"tab","label":"Flow 4","disabled":true,"info":""},{"id":"f8cc1758.0c3398","type":"tab","label":"Flow 11","disabled":false,"info":""},{"id":"4e023c2e.0d7924","type":"tab","label":"Flow 10","disabled":false,"info":""},{"id":"e4a0f87f.ef04d8","type":"board-config","z":"","board":"GrovePi"},{"id":"c4c0c8af.b451c8","type":"grove digital output","z":"a4067dfb.86ba4","name":"LEDD7","board":"e4a0f87f.ef04d8","pin":"7","x":692.1666831970215,"y":281.0000467300415,"wires":[]},{"id":"7ceef435.12332c","type":"grove digital sensor","z":"a4067dfb.86ba4","name":"US","board":"e4a0f87f.ef04d8","sensor":"ultrasonic","repeat":"1","pin":"8","x":251.16669082641602,"y":337.0000104904175,"wires":[[]]},{"id":"d496ea46.26c598","type":"debug","z":"a4067dfb.86ba4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":415.1666946411133,"y":336.0000114440918,"wires":[]},{"id":"a67c2d7a.a3adf","type":"function","z":"a4067dfb.86ba4","name":"","func":"if (msg.payload > -41) {\n    msg.payload = 1;\n} else {\n    msg.payload = 0;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":454.1666831970215,"y":503.00001335144043,"wires":[["3d3a4823.11b938"]]},{"id":"a2de6fd6.3d078","type":"BeaconScanner","z":"a4067dfb.86ba4","name":"","gracePeriod":0,"x":169,"y":552.0000972747803,"wires":[["bedf9de2.772e6"]]},{"id":"fa61a70a.f8ddc8","type":"debug","z":"a4067dfb.86ba4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":432.0000991821289,"y":576.0001411437988,"wires":[]},{"id":"bedf9de2.772e6","type":"function","z":"a4067dfb.86ba4","name":"","func":"if(\"eddystoneUrl\" in msg.payload){\n    var url = msg.payload.eddystoneUrl.url;\n    msg.payload = msg.payload.rssi;\n    \n    if(url.split(\"//\")[1].split(\"?\")[0] == \"h1g91\"){\n        return msg;  \n    }\n    \n}","outputs":1,"noerr":0,"x":275.00000762939453,"y":491.3333864212036,"wires":[["a67c2d7a.a3adf","fa61a70a.f8ddc8"]]},{"id":"3d3a4823.11b938","type":"grove digital output","z":"a4067dfb.86ba4","name":"ugly light","board":"e4a0f87f.ef04d8","pin":"7","x":610.1666831970215,"y":526.333345413208,"wires":[]},{"id":"593ed60c.cd3db8","type":"http in","z":"b4559090.980ba","name":"endpoint","url":"/test","method":"get","upload":false,"swaggerDoc":"","x":203.16669464111328,"y":175.0000057220459,"wires":[["7904f026.4659d"]]},{"id":"df0deb19.ff6678","type":"json","z":"b4559090.980ba","name":"","property":"payload","action":"","pretty":false,"x":516.1666793823242,"y":122.0000262260437,"wires":[["4391726d.d6a5ec"]]},{"id":"7904f026.4659d","type":"function","z":"b4559090.980ba","name":"","func":"msg.payload = {};\nmsg.payload.output = 1;\nreturn msg;","outputs":1,"noerr":0,"x":339.16667556762695,"y":64.00000381469727,"wires":[["df0deb19.ff6678"]]},{"id":"4391726d.d6a5ec","type":"http response","z":"b4559090.980ba","name":"Success","statusCode":"200","headers":{},"x":602.1666946411133,"y":220.00000762939453,"wires":[]},{"id":"aea56216.87e8c","type":"BeaconScanner","z":"b9bcf2a3.22fc5","name":"","gracePeriod":0,"x":87.83331298828125,"y":105.00009155273438,"wires":[[]]},{"id":"e7f16c44.585b2","type":"debug","z":"b9bcf2a3.22fc5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":446.83343505859375,"y":374.0001220703125,"wires":[]},{"id":"71039671.3e75c8","type":"function","z":"b9bcf2a3.22fc5","name":"","func":"if(\"eddystoneUrl\" in msg.payload){\n    var url = msg.payload.eddystoneUrl.url;\n    msg.payload = url\n    \n    if(url.split(\"//\")[1].split(\".\")[0] == \"h1g5\"){\n        global.set('h1g5', url);\n        return msg;  \n    }\n    \n}","outputs":1,"noerr":0,"x":209.83332443237305,"y":56.333373069763184,"wires":[[]]},{"id":"bd908ad4.560aa8","type":"http in","z":"b9bcf2a3.22fc5","name":"endpoint","url":"/test","method":"get","upload":false,"swaggerDoc":"","x":182.00000762939453,"y":225.00000953674316,"wires":[["7e07481e.a3c538"]]},{"id":"cc871c34.19381","type":"json","z":"b9bcf2a3.22fc5","name":"","property":"payload","action":"","pretty":false,"x":519.0000152587891,"y":202.00004863739014,"wires":[["2ca6813d.20720e"]]},{"id":"7e07481e.a3c538","type":"function","z":"b9bcf2a3.22fc5","name":"","func":"\n\nmsg.payload = {};\nmsg.payload.heartrate = global.get('dist')||0;\n\nreturn msg;","outputs":1,"noerr":0,"x":358.9999694824219,"y":187.0000057220459,"wires":[["cc871c34.19381"]]},{"id":"2ca6813d.20720e","type":"http response","z":"b9bcf2a3.22fc5","name":"Success","statusCode":"200","headers":{},"x":628.0000152587891,"y":273.0000114440918,"wires":[]},{"id":"1dfeb2f8.48114d","type":"function","z":"8213f29.cd5731","name":"startBlink","func":"var BLINKDELAY = 200;\nvar blinker = setInterval(blink,BLINKDELAY);\nclearInterval(blinker);\n\nif(msg.payload*10 < 200){\n    BLINKDELAY = msg.payload*10;\n} else {\n    BLINKDELAY = 200;\n}\n\nvar light = true;\n\n\nblinker = setInterval(blink,BLINKDELAY);\n    \nfunction blink() {\n    \n    if (light) {\n        msg.payload = 1;\n        light = false;\n    } else {\n        msg.payload = 0;\n        light = true;\n    }\n    \n    node.send(msg);\n}\n\n\nreturn;","outputs":1,"noerr":0,"x":659,"y":283,"wires":[["8be7516d.d4be2"]]},{"id":"7fe0dbdb.989fe4","type":"inject","z":"8213f29.cd5731","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":329,"y":109,"wires":[[]]},{"id":"ec5a45ee.d054f8","type":"function","z":"8213f29.cd5731","name":"stopBlink","func":"clearInterval(global.get(\"blinker\"));\n\nmsg.payload = 0;\n\nreturn msg;","outputs":1,"noerr":0,"x":232,"y":359,"wires":[[]]},{"id":"3b6c2768.6a5998","type":"inject","z":"8213f29.cd5731","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":214,"y":221,"wires":[[]]},{"id":"7e053061.d9bcd","type":"grove digital sensor","z":"8213f29.cd5731","name":"sensor","board":"e4a0f87f.ef04d8","sensor":"ultrasonic","repeat":"1","pin":"7","x":492,"y":280,"wires":[["1dfeb2f8.48114d","54263877.f24118"]]},{"id":"8be7516d.d4be2","type":"grove digital output","z":"8213f29.cd5731","name":"","board":"e4a0f87f.ef04d8","pin":"8","x":882,"y":283,"wires":[]},{"id":"f949b283.aed8d","type":"grove digital sensor","z":"e0738454.386f48","name":"Sensor","board":"e4a0f87f.ef04d8","sensor":"ultrasonic","repeat":"1","pin":"7","x":263,"y":326,"wires":[["59960a4d.eb3f34"]]},{"id":"e2d5db95.94e8a8","type":"grove digital output","z":"e0738454.386f48","name":"LED","board":"e4a0f87f.ef04d8","pin":"8","x":636,"y":326,"wires":[]},{"id":"59960a4d.eb3f34","type":"function","z":"e0738454.386f48","name":"check_heart_rate","func":"//for actual: if hert rate is above certain level then msg.payload = 1\nif(msg.payload < 50){\n    msg.payload= 1;\n} else {\n    msg.payload = 0;\n}\nreturn msg;","outputs":1,"noerr":0,"x":458,"y":326,"wires":[["e2d5db95.94e8a8"]]},{"id":"fbaf814c.6f776","type":"debug","z":"e0738454.386f48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1027,"y":623,"wires":[]},{"id":"317f2d8f.78f982","type":"BeaconScanner","z":"e0738454.386f48","name":"","gracePeriod":0,"x":470,"y":582,"wires":[["359173c1.5d469c"]]},{"id":"359173c1.5d469c","type":"function","z":"e0738454.386f48","name":"check_close_dist","func":"if(msg.payload.id == \"d7843213acbc\"){\n    msg.payload = msg.payload.rssi;\n} else {\n    msg.payload = 0;\n}\nreturn msg;","outputs":1,"noerr":0,"x":695,"y":604,"wires":[["fbaf814c.6f776"]]},{"id":"54263877.f24118","type":"debug","z":"8213f29.cd5731","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":567,"y":195,"wires":[]},{"id":"8847abc7.6566d8","type":"grove digital sensor","z":"b9bcf2a3.22fc5","name":"","board":"e4a0f87f.ef04d8","sensor":"ultrasonic","repeat":"1","pin":"7","x":103,"y":375,"wires":[["77405173.fc2d9"]]},{"id":"77405173.fc2d9","type":"function","z":"b9bcf2a3.22fc5","name":"","func":"var distance = msg.payload;\nglobal.set('dist',distance);\n\nreturn msg;","outputs":1,"noerr":0,"x":287,"y":376,"wires":[["e7f16c44.585b2"]]},{"id":"90eb1127.8fb8a","type":"inject","z":"51a8188e.1353c8","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":132,"y":89,"wires":[["fe061662.266908"]]},{"id":"fe061662.266908","type":"grove digital output","z":"51a8188e.1353c8","name":"","board":"e4a0f87f.ef04d8","pin":"4","x":302,"y":91,"wires":[]},{"id":"9f243d74.cac21","type":"inject","z":"51a8188e.1353c8","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":104,"y":176,"wires":[["fe061662.266908"]]},{"id":"4efb1ea0.d7add","type":"inject","z":"51a8188e.1353c8","name":"","topic":"check","payload":"","payloadType":"num","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":124,"y":318,"wires":[["39f6c1bc.99847e"]]},{"id":"39f6c1bc.99847e","type":"function","z":"51a8188e.1353c8","name":"check memory","func":"// // get value from memory\n// var memory = global.get('memory');\n\n// if(memory == 1){// when value in memory is 1(on)\n//     global.set('memory',0); // set memory to 0(off)\n//     msg.payload = 0; // set command to 0(off)\n    \n// } else {// when value in memory is 0(off)\n//     global.set('memory',1);// set info to 1(on)\n//     msg.payload = 1;// set command to 1(on)\n// }\n\n// return msg;","outputs":1,"noerr":0,"x":336,"y":306,"wires":[["3906fc2d.47b334"]]},{"id":"3906fc2d.47b334","type":"grove digital output","z":"51a8188e.1353c8","name":"LED","board":"e4a0f87f.ef04d8","pin":"4","x":520,"y":304,"wires":[]},{"id":"90b54a83.6ac208","type":"grove digital sensor","z":"8ed05d66.44fd","name":"ultrasonic","board":"e4a0f87f.ef04d8","sensor":"ultrasonic","repeat":"1","pin":"7","x":70,"y":70,"wires":[["f31111bd.718a8"]]},{"id":"f31111bd.718a8","type":"debug","z":"8ed05d66.44fd","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":572,"y":192,"wires":[]},{"id":"ae0da6f0.fa3f48","type":"grove digital sensor","z":"8ed05d66.44fd","name":"ultrasonic","board":"e4a0f87f.ef04d8","sensor":"ultrasonic","repeat":"1","pin":"7","x":190,"y":276,"wires":[["4dd7a872.bcd7f8"]]},{"id":"4dd7a872.bcd7f8","type":"function","z":"8ed05d66.44fd","name":"check distance","func":"var distance = msg.payload;\nif(distance < 10){\n    msg.payload = 1; // set command to 1 (on)\n} else{\n    msg.payload = 0; // set command to 0 (off)\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":434,"y":263,"wires":[["6fe4528d.6dd7cc"]]},{"id":"6fe4528d.6dd7cc","type":"grove digital output","z":"8ed05d66.44fd","name":"LED","board":"e4a0f87f.ef04d8","pin":"4","x":477,"y":380,"wires":[]},{"id":"c900af51.32a33","type":"BeaconScanner","z":"35297477.f012fc","name":"","gracePeriod":0,"x":124,"y":165,"wires":[["83bc523e.4d56c"]]},{"id":"83bc523e.4d56c","type":"function","z":"35297477.f012fc","name":"micro.bit filter","func":"var payload = msg.payload;\nif(\"eddystoneUrl\" in payload){\n    var url =  payload.eddystoneUrl.url;\n    if(url.includes(\"hc5p8.com\")){\n        return msg;\n    }\n}","outputs":1,"noerr":0,"x":428,"y":228,"wires":[["76cfd3b9.1e643c"]]},{"id":"76cfd3b9.1e643c","type":"debug","z":"35297477.f012fc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":622,"y":133,"wires":[]},{"id":"3657fc11.2471a4","type":"BeaconScanner","z":"568f7afb.bf43c4","name":"","gracePeriod":0,"x":97,"y":69,"wires":[["c7226da.48ae79"]]},{"id":"c7226da.48ae79","type":"function","z":"568f7afb.bf43c4","name":"filter distance","func":"var id = msg.payload.id;\nif(id == \"d7843213acbc\"){\n    var distance =  msg.payload.rssi;\n    if(distance > -35){\n        msg.payload = 1// set command to 1(on)\n        return msg;\n    } else {\n        msg.payload = 0//set command to 0(off)\n        return msg;\n    }\n}","outputs":1,"noerr":0,"x":377,"y":78,"wires":[["87ea4adb.d546f8"]]},{"id":"87ea4adb.d546f8","type":"grove digital output","z":"568f7afb.bf43c4","name":"Led","board":"e4a0f87f.ef04d8","pin":"4","x":628,"y":98,"wires":[]},{"id":"313f3e2.62d50c2","type":"http response","z":"1011d357.72df6d","name":"","statusCode":"","headers":{},"x":578,"y":376,"wires":[]},{"id":"75a4bbd5.e011c4","type":"function","z":"1011d357.72df6d","name":"form data","func":"msg.payload = global.get(\"memory\");\nreturn msg;","outputs":1,"noerr":0,"x":299,"y":348,"wires":[["313f3e2.62d50c2"]]},{"id":"ccaad774.6e9d28","type":"http in","z":"1011d357.72df6d","name":"get data","url":"/test","method":"get","upload":false,"swaggerDoc":"","x":129,"y":473,"wires":[["75a4bbd5.e011c4"]]},{"id":"cfc50b4e.550238","type":"BeaconScanner","z":"655ec119.91dbf","name":"","gracePeriod":0,"x":195,"y":171,"wires":[["4acf034b.77da1c"]]},{"id":"4acf034b.77da1c","type":"function","z":"655ec119.91dbf","name":"filter micro:bit","func":"// get id of micro:bit\nvar id = msg.payload.id;\n\nif(id == \"d7843213acbc\"){\n    global.set(\"memory\",msg.payload);\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":489,"y":172,"wires":[[]]},{"id":"164cb6fd.22c119","type":"grove digital sensor","z":"e47e3da7.55ae2","name":"","board":"e4a0f87f.ef04d8","sensor":"button","repeat":"1","pin":"2","x":196,"y":309,"wires":[["c44f1ff9.ab19"]]},{"id":"c44f1ff9.ab19","type":"debug","z":"e47e3da7.55ae2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":556,"y":325,"wires":[]},{"id":"441eab01.b16284","type":"BeaconScanner","z":"1011d357.72df6d","name":"","gracePeriod":0,"x":275,"y":581,"wires":[["4e0d30b0.e1bed"]]},{"id":"4e0d30b0.e1bed","type":"function","z":"1011d357.72df6d","name":"filter micro:bit","func":"// get id of micro:bit\nvar id = msg.payload.id;\n\nif(id == \"d7843213acbc\"){\n    global.set(\"memory\",msg.payload);\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":569,"y":582,"wires":[[]]},{"id":"a9f33406.286e38","type":"BeaconScanner","z":"f8cc1758.0c3398","name":"","gracePeriod":0,"x":173,"y":228,"wires":[["5066d803.6340f8"]]},{"id":"5066d803.6340f8","type":"function","z":"f8cc1758.0c3398","name":"","func":"if(msg.payload.id == \"d7843213acbc\"){\n    var onOff = msg.payload.eddystoneUrl.url.split(\"/\");\n    if(onOff[onOff.length - 1] == \"1\"){\n        msg.payload = 1;\n    }\n    else {\n        msg.payload = 0\n    }\n    global.set(\"memory\",onOff[onOff.length - 1]);\n    \n}\nreturn msg;\n\n","outputs":1,"noerr":0,"x":411,"y":280,"wires":[["70349bc.5741064"]]},{"id":"70349bc.5741064","type":"grove digital output","z":"f8cc1758.0c3398","name":"","board":"e4a0f87f.ef04d8","pin":"4","x":620,"y":254,"wires":[]},{"id":"d96ffaa9.72e628","type":"debug","z":"f8cc1758.0c3398","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":671,"y":142,"wires":[]},{"id":"e7a322e1.7b876","type":"http in","z":"f8cc1758.0c3398","name":"","url":"/test2","method":"get","upload":false,"swaggerDoc":"","x":178,"y":366,"wires":[["d92782b7.882ab"]]},{"id":"6534481b.c40aa8","type":"http response","z":"f8cc1758.0c3398","name":"","statusCode":"","headers":{},"x":494,"y":402,"wires":[]},{"id":"d92782b7.882ab","type":"function","z":"f8cc1758.0c3398","name":"","func":"msg.payload = global.get(\"memory\");\nreturn msg;","outputs":1,"noerr":0,"x":324,"y":386,"wires":[["6534481b.c40aa8"]]},{"id":"b514f683.e00fd8","type":"grove digital sensor","z":"4e023c2e.0d7924","name":"ultrasonic","board":"e4a0f87f.ef04d8","sensor":"ultrasonic","repeat":"1","pin":"7","x":300,"y":154,"wires":[["16a047c5.c61b58","9ea3aba7.89ad38"]]},{"id":"16a047c5.c61b58","type":"function","z":"4e023c2e.0d7924","name":"check distance","func":"var distance = msg.payload;\nif(distance < 20){\n    msg.payload = 1; // set command to 1 (on)\n} else{\n    msg.payload = 0; // set command to 0 (off)\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":612,"y":165,"wires":[["afff884a.dee668"]]},{"id":"afff884a.dee668","type":"grove digital output","z":"4e023c2e.0d7924","name":"LED","board":"e4a0f87f.ef04d8","pin":"2","x":733,"y":265,"wires":[]},{"id":"9ea3aba7.89ad38","type":"debug","z":"4e023c2e.0d7924","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":156,"y":278,"wires":[]},{"id":"3f640a7a.8f8b76","type":"http in","z":"4e023c2e.0d7924","name":"","url":"/test2","method":"get","upload":false,"swaggerDoc":"","x":235,"y":388,"wires":[["82847.b67747b98"]]},{"id":"1c370c2e.5a77d4","type":"http response","z":"4e023c2e.0d7924","name":"","statusCode":"","headers":{},"x":551,"y":424,"wires":[]},{"id":"82847.b67747b98","type":"function","z":"4e023c2e.0d7924","name":"","func":"msg.payload = global.get(\"memory\");\nreturn msg;","outputs":1,"noerr":0,"x":381,"y":408,"wires":[["1c370c2e.5a77d4"]]}]