Projects/alawiyah_pearlyn/flows.json
[{"id":"467bd1f0.e2626","type":"tab","label":"Stay Serene","disabled":false,"info":""},{"id":"4a3befe1.8fd2f","type":"BeaconScanner","z":"467bd1f0.e2626","name":"","gracePeriod":0,"x":197.100004196167,"y":158.0000081062317,"wires":[["bc2bc270.75215"]]},{"id":"bc2bc270.75215","type":"function","z":"467bd1f0.e2626","name":"microbit filter","func":"var payload = msg.payload;\n// if(\"eddystoneUrl\" in payload){\n//     var url =  payload.eddystoneUrl.url;\n//     if(url.includes(\"https://hcg3s14\")){\n//         return msg;\n//     }\n// }\n\nvar id = payload.id;\n\nif(id==\"c91da59869c0\"){\n    global.set(\"microbit\", payload.eddystoneUrl.url);\n    msg.payload= payload.eddystoneUrl.url;\n    return msg;\n    \n}\n","outputs":1,"noerr":0,"x":422.100004196167,"y":157.00000381469727,"wires":[["c92c74d3.199118"]]},{"id":"c92c74d3.199118","type":"debug","z":"467bd1f0.e2626","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":673.1000556945801,"y":155.00000762939453,"wires":[]},{"id":"e09156d8.5bc548","type":"http in","z":"467bd1f0.e2626","name":"","url":"/stayserene","method":"get","upload":false,"swaggerDoc":"","x":173.70001220703125,"y":297.39999771118164,"wires":[["f9b9a529.1461c8"]]},{"id":"cd3f60b5.66274","type":"http response","z":"467bd1f0.e2626","name":"","statusCode":"","headers":{},"x":634.1000080108643,"y":284.80002784729004,"wires":[]},{"id":"f9b9a529.1461c8","type":"function","z":"467bd1f0.e2626","name":"stayerene data","func":"msg.payload = global.get(\"microbit\");\nreturn msg;","outputs":1,"noerr":0,"x":419.1000061035156,"y":296.80002784729004,"wires":[["cd3f60b5.66274","a29fa0b3.c41e9"]]},{"id":"a29fa0b3.c41e9","type":"debug","z":"467bd1f0.e2626","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":587.1000366210938,"y":376.8000183105469,"wires":[]}]