Projects/roy_niankai/flows.json
[{"id":"cc6656b9.7a6168","type":"tab","label":"Flow 2","disabled":true,"info":""},{"id":"ae0418ba.444e28","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"791d4a09.e2dc74","type":"tab","label":"Flow 3","disabled":true,"info":""},{"id":"d14ae6b.fdb9918","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"e4a0f87f.ef04d8","type":"board-config","z":"","board":"GrovePi"},{"id":"c48cef72.801118","type":"inject","z":"cc6656b9.7a6168","name":"Turn On","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":188.5,"y":155,"wires":[["6af16e10.ac9358"]]},{"id":"6af16e10.ac9358","type":"grove digital output","z":"cc6656b9.7a6168","name":"","board":"e4a0f87f.ef04d8","pin":"4","x":409.50000762939453,"y":147.99999809265137,"wires":[]},{"id":"807c44bd.2838c","type":"grove digital sensor","z":"cc6656b9.7a6168","name":"Ultrasonic","board":"e4a0f87f.ef04d8","sensor":"ultrasonic","repeat":"1","pin":"7","x":117.75,"y":450.25001525878906,"wires":[["1dc6c559.ccbd0b","a9a54be9.21fe38"]]},{"id":"c1ad2dcb.74cba","type":"inject","z":"cc6656b9.7a6168","name":"Turn Off","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":222,"wires":[["6af16e10.ac9358"]]},{"id":"1dc6c559.ccbd0b","type":"function","z":"cc6656b9.7a6168","name":"Check Distance","func":"var distance = msg.payload;\nif(distance < 100){\n    msg.payload = 1; // set command to 1 (on)\n} else{\n    msg.payload = 0; // set command to 0 (off)\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":353.5,"y":388.3333339691162,"wires":[["47a8b176.ee24e"]]},{"id":"7867d399.063e8c","type":"function","z":"cc6656b9.7a6168","name":"Check memory","func":"// get value from memory\nvar memory = global.get('memory');\n\nif(memory == 1){// when value in memory is 1(on)\n    global.set('memory',0); // set memory to 0(off)\n    msg.payload = 0; // set command to 0(off)\n    \n} else {// when value in memory is 0(off)\n    global.set('memory',1);// set info to 1(on)\n    msg.payload = 1;// set command to 1(on)\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":411.5000228881836,"y":57.333335876464844,"wires":[["932e6605.424418"]]},{"id":"2cf5254d.af61aa","type":"inject","z":"cc6656b9.7a6168","name":"On and Off","topic":"","payload":"1","payloadType":"num","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":174.1666717529297,"y":97.33333969116211,"wires":[[]]},{"id":"932e6605.424418","type":"grove digital output","z":"cc6656b9.7a6168","name":"","board":"e4a0f87f.ef04d8","pin":"4","x":617.0000152587891,"y":72.3333387374878,"wires":[]},{"id":"61087dc5.61d734","type":"BeaconScanner","z":"ae0418ba.444e28","name":"","gracePeriod":0,"x":159.50000762939453,"y":105.66667079925537,"wires":[["6887a295.6de4ac"]]},{"id":"1939df41.333371","type":"debug","z":"ae0418ba.444e28","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":727.2500152587891,"y":102.91666793823242,"wires":[]},{"id":"6887a295.6de4ac","type":"function","z":"ae0418ba.444e28","name":"microbit filter","func":"var id = msg.payload.id;\nif(id == \"fbd4a36ce3dd\"){\n    var distance =  msg.payload.rssi;\n    if(distance > -50){\n        msg.payload = 1// set command to 1(on)\n        return msg;\n    } else {\n        msg.payload = 0//set command to 0(off)\n        return msg;\n    }\n}\n\n\n","outputs":1,"noerr":0,"x":456.25006103515625,"y":104.66666793823242,"wires":[["b0de9356.b0c8"]]},{"id":"47a8b176.ee24e","type":"grove digital output","z":"cc6656b9.7a6168","name":"","board":"e4a0f87f.ef04d8","pin":"4","x":580.2083969116211,"y":433.250057220459,"wires":[]},{"id":"b0de9356.b0c8","type":"grove digital output","z":"ae0418ba.444e28","name":"","board":"e4a0f87f.ef04d8","pin":"4","x":648.9583969116211,"y":157.5000171661377,"wires":[]},{"id":"c82348b6.3407e8","type":"http in","z":"791d4a09.e2dc74","name":"Get Data","url":"/test","method":"get","upload":false,"swaggerDoc":"","x":173.9583511352539,"y":262.08334732055664,"wires":[["3063eee4.e62582"]]},{"id":"bc645e1a.f7a3b","type":"http response","z":"791d4a09.e2dc74","name":"response","statusCode":"","headers":{},"x":727.708438873291,"y":333.3333168029785,"wires":[]},{"id":"751c5e03.41c8e","type":"function","z":"791d4a09.e2dc74","name":"Weather","func":"var weather = {\n    status: \"cloudy\",\n    temperature: 25.5,\n    mood: \"sleepy\"\n}\nmsg.payload = weather;\nreturn msg;","outputs":1,"noerr":0,"x":677.7084007263184,"y":92.91666793823242,"wires":[[]]},{"id":"3c3e9b8b.c66694","type":"function","z":"791d4a09.e2dc74","name":"microbit","func":"id = msg.payload.id;\nif(id == \"fbd4a36ce3dd\"){\n    global.set(\"memory\",msg.payload);\n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":356.45834732055664,"y":150.41666793823242,"wires":[[]]},{"id":"403d50fb.781d7","type":"BeaconScanner","z":"791d4a09.e2dc74","name":"","gracePeriod":0,"x":170.20835876464844,"y":146.66666793823242,"wires":[["3c3e9b8b.c66694"]]},{"id":"3063eee4.e62582","type":"function","z":"791d4a09.e2dc74","name":"retrieve micro:bit details","func":"msg.payload = global.get(\"memory\");\n\nreturn msg;","outputs":1,"noerr":0,"x":489.375,"y":262.0833333581686,"wires":[["bc645e1a.f7a3b"]]},{"id":"a9a54be9.21fe38","type":"debug","z":"cc6656b9.7a6168","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":201.45835876464844,"y":570,"wires":[]},{"id":"af8bc3d.a31194","type":"grove digital sensor","z":"d14ae6b.fdb9918","name":"Ultrasonic","board":"e4a0f87f.ef04d8","sensor":"ultrasonic","repeat":"1","pin":"7","x":208.75,"y":351.75002485513687,"wires":[["70778cef.c6c304","ae26d13f.0cdf4"]]},{"id":"70778cef.c6c304","type":"function","z":"d14ae6b.fdb9918","name":"Check Distance","func":"var distance = msg.payload;\nif(distance < 50){\n    msg.payload = 1; // set command to 1 (on)\n    \n} else{\n    msg.payload = 0; // set command to 0 (off)\n}\nglobal.set(\"ultrasonic\", msg.payload)\nreturn msg;\n","outputs":1,"noerr":0,"x":444.5,"y":289.833343565464,"wires":[["410cc677.c68b28"]]},{"id":"410cc677.c68b28","type":"grove digital output","z":"d14ae6b.fdb9918","name":"","board":"e4a0f87f.ef04d8","pin":"4","x":671.2083969116211,"y":334.7500668168068,"wires":[]},{"id":"ae26d13f.0cdf4","type":"debug","z":"d14ae6b.fdb9918","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":292.45835876464844,"y":471.5000095963478,"wires":[]},{"id":"645cd941.99fb78","type":"function","z":"d14ae6b.fdb9918","name":"microbit","func":"id = msg.payload.id;\nif(id == \"fbd4a36ce3dd\"){\n    global.set(\"memory\",msg.payload);\n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":492.49999237060547,"y":125.00000524520874,"wires":[[]]},{"id":"f3bf59bc.cd1cf8","type":"BeaconScanner","z":"d14ae6b.fdb9918","name":"","gracePeriod":0,"x":221.25,"y":128.75000476837158,"wires":[["645cd941.99fb78"]]},{"id":"b3bb2e48.fe0fc","type":"http in","z":"d14ae6b.fdb9918","name":"Get Data","url":"/test","method":"get","upload":false,"swaggerDoc":"","x":191.25,"y":592.9166870117188,"wires":[["f46f71e5.a4b7"]]},{"id":"b518cfea.84179","type":"http response","z":"d14ae6b.fdb9918","name":"response","statusCode":"","headers":{},"x":745.0000877380371,"y":664.1666564941406,"wires":[]},{"id":"f46f71e5.a4b7","type":"function","z":"d14ae6b.fdb9918","name":"retrieve micro:bit details","func":"msg.payload = {\n    microbit:global.get(\"memory\"),\n    ultrasonic:global.get(\"ultrasonic\")\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":506.6666488647461,"y":592.9166730493307,"wires":[["b518cfea.84179"]]}]